@font-face {
  font-family: NeueBit;
  src: url(/src/fonts/PPNeueBit-Bold.otf);
}

@font-face {
  font-family: Mondwest;
  src: url(/src/fonts/PPMondwest-Regular.otf);
}

:root {
  font-family: NeueBit;
  color: white;
  overflow-x: hidden;
}

body {
  background-color: #151515;
}
#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
}

.project-icon {
  font-size: 36px;
}

.hero-icon {
  font-size: 48px;
}

@media only screen and (max-width: 800px) {
  .project-icon {
    font-size: 24px;
  }
  .hero-icon {
    font-size: 36px;
  }
}
