@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: NeueBit;
  src: url(/src/fonts/PPNeueBit-Bold.otf);
}

@font-face {
  font-family: Mondwest;
  src: url(/src/fonts/PPMondwest-Regular.otf);
}

:root {
  font-family: NeueBit;
}
